ion-label {
    color: black;
}

ion-button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    margin-left: 25%;
    width: 50%;
    height: 150%;
    border: 20;
    color: #FFFFFF;
    font-size: 20px;
    
}

  