<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="header" color="light" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="header">Details of good:</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Id of the goods: {{id}}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <p>Name of the client: </p>
      </ion-label>
      <p>{{material.nameClient}}</p>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>Commodity </p>
      </ion-label>
      <p>{{material.commodity}}</p>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>Weight: </p>
      </ion-label>
      <p>{{material.weight}}</p>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>Destination harbor: </p>
      </ion-label>
      <p>{{material.harbor}}</p>
    </ion-item>
    <ion-item *ngIf="reportedDamage.length >0">
      <ion-label>
        <p>Any damage:</p>
      </ion-label>
      <p>{{reportedDamage}}</p>
    </ion-item>
  </ion-list>

  <!-- <ion-grid>
    <ion-row>
      <ion-col col-15>
        <ion-button color="warning" (click)="switchPosition(-4)" >
          <ion-icon name="arrow-up-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <br>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col col-30>
        <ion-button color="warning" (click)="switchPosition(-1)">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col col-30>
        <ion-button color="warning" (click)="switchPosition(1)">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <br>
    </ion-row>
    <ion-row>
      <ion-col col-15>
        <ion-button color="warning" (click)="switchPosition(4)">
          <ion-icon name="arrow-down-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  
  <ion-grid>
    <ion-row>
      <ion-col col-15>
        <ion-button color="warning" (click)="switchPositionList(-4)" href="/" >
          <ion-icon name="arrow-up-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <br>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col col-30>
        <ion-button color="warning" (click)="switchPositionList(-1)" href="/"  >
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col col-30>
        <ion-button color="warning" (click)="switchPositionList(1)" href="/" >
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <br>
    </ion-row>
    <ion-row>
      <ion-col col-15>
        <ion-button color="warning" (click)="switchPositionList(4)" href="/">
          <ion-icon name="arrow-down-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <br>
  <ion-grid>
    <ion-row>
      <ion-col col-30>
        <ion-button color="danger" (click)="showAlert()"> Damage</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>
  <ion-item class="dropdown">
    <ion-label>Move to coordinate</ion-label>
    <ion-select [(ngModel)]="coordinate">
      <ion-select-option *ngFor="let item of coordinates" value="{{item}}">{{item}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col col-30>
        <ion-button [disabled]="coordinate == null" color="secondary" (click)="jumpToPlace()" href="/"> Jump</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>