<ion-header>
  <ion-toolbar>
    <ion-title class="header" size="medium">Overview of all the goods in the yard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-header>
    <ion-item>
      <ion-label>Search on:</ion-label>
      <ion-select [(ngModel)]="selectedFilter" placeholder="select a search filter">
        <ion-select-option value="nameClient">Company name</ion-select-option>
        <ion-select-option value="id">ID</ion-select-option>
        <ion-select-option value="commodity">Commodity </ion-select-option>
        <ion-select-option value="weight">Weight </ion-select-option>
        <ion-select-option value="harbor">Harbor </ion-select-option>
      </ion-select>
      <ion-input placeholder="Search:" [(ngModel)]="searchedValue"></ion-input>
      <ion-button size="medium" (click)="searchList()">Search</ion-button>
    </ion-item>
  </ion-header>
  <div class="square-container">
    <div class="square" *ngFor="let point of grid;">
      <!-- <ion-button *ngIf="point!=null" class="content" (click)="showDetails(point.id)">{{point.weight}}</ion-button> -->
      <ion-button *ngIf="point!=null" class="content" (click)="showList(point.id)">{{weight(point.id)}} - {{coordinates[point.position]}}</ion-button>
      <ion-button disabled *ngIf="point==null" class="content">Empty lot</ion-button>
    </div>
  </div>
</ion-content>