<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="header" color="light" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="header">List of goods on spot:</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-list-header>
        <ion-label>List of goods with id {{id}}</ion-label>
      </ion-list-header>
  <ion-item *ngFor='let good of neededGood' [routerLink]="['/details', id, good.goodId]">
    <ion-label>
      <p>Details</p>
    </ion-label>
    <p>{{good.commodity}} of {{good.nameClient}} with destination {{good.harbor}}</p>
    </ion-item>
</ion-list>
</ion-content>
