<ion-header>
  <ion-toolbar>
    <ion-buttons class="header" slot="start">
      <ion-back-button color="dark" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>List of goods on spot:</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-list-header>
        <ion-label>List of goods with id {{id}}</ion-label>
      </ion-list-header>
  <ion-item *ngFor='let good of neededGood' [routerLink]="['/details', id, good.goodId]">
    <ion-label>
      <p>Name of the goods</p>
    </ion-label>
    <p>{{good.namegoods}}</p>
    </ion-item>
</ion-list>
</ion-content>
